obj/Debug/net6.0/QuantumHello.AssemblyInfo.cs
obj/Debug/net6.0/QuantumHello.AssemblyInfoInputs.cache
obj/Debug/net6.0/QuantumHello.csproj.AssemblyReference.cache
obj/Debug/net6.0/QuantumHello.GeneratedMSBuildEditorConfig.editorconfig
